#h1Incapedia
{
    font-family: "Consolas";
    font-size: 1.5vw;
    padding-left: 2%;
}

#h1About {
    position: absolute;
    font-family: "Consolas";
    font-size: 1.5vw;
    right: 0%;
    padding-right: 4%;
}

#vertical1{
    position: absolute;
    font-family: "Consolas";
    font-size: 1.5vw;
    right: 0%;
    padding-right: 9%;
}

#h1Gallery {
    position: absolute;
    font-family: "Consolas";
    font-size: 1.5vw;
    right: 0%;
    padding-right: 11%;
}

a:visited, a:active, a:hover, a:link {
    text-decoration: none;
    color: black;
    text-decoration-line: none;
}

header
{
    display: flex;
    background-color: #D53155;
    align-items: center;
    height: 10%;
}
body
{
    background-color: #141723;
    margin: 0;
}

#imageArray {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0;
    justify-content: center;
}

#item {
    width: 24%;
    padding: 5px;
    height: auto;
}